TRAKT_API_KEY: YOUR_TRAKT_API_KEY
TV_DB_API_KEY: YOUR_TV_DB_API_KEY
TV_DB_USER_KEY: YOUR_TV_DB_USER_KEY
TV_DB_USER_NAME: YOUR_TV_DB_USER_NAME

AWS_ACCESS_KEY_ID: REQUEST_FOR_THIS
AWS_SECRET_ACCESS_KEY: REQUEST_FOR_THIS
AWS_REGION: REQUEST_FOR_THIS
S3_BUCKET_NAME: REQUEST_FOR_THIS
