body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: rgb(238,238,238) !important;
}

.main-footer {
  margin-top: 2em;
}

.navbar {
  border-radius: 0px !important;
}

.navbar-default {
  border-style: none !important;
}

.navbar-item {
  margin-top: 12px;
}

.main-container, .search-result-container {
  min-height: 400px;
}

.search-result-container {
  display: none;
}

.search-box {
  padding: 10px;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.white-font {
  color: white !important;
}

.navbar-icon {
  padding-right: 1em;
  opacity: 0.5;
}

#navbar-search {
  margin-top: -10px;
  margin-bottom: 5px;
  min-height: 70px;

  .search-icon {
    position: relative;
    left: 10px;
    top: 29px;
    opacity: 0.6;
  }

  #nav-search {
    padding: 6px 12px 6px 30px;
  }

  .search-close {
    position: relative;
    top: 30px;
    margin-right: 10px;
    display: none;
  }
}

.bingefish-nav {
  background: rgba(154,0,0,1);
  background: -moz-linear-gradient(left, rgba(154,0,0,1) 0%, rgba(246,180,80,1) 99%, rgba(246,180,80,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(154,0,0,1)), color-stop(99%, rgba(246,180,80,1)), color-stop(100%, rgba(246,180,80,1)));
  background: -webkit-linear-gradient(left, rgba(154,0,0,1) 0%, rgba(246,180,80,1) 99%, rgba(246,180,80,1) 100%);
  background: -o-linear-gradient(left, rgba(154,0,0,1) 0%, rgba(246,180,80,1) 99%, rgba(246,180,80,1) 100%);
  background: -ms-linear-gradient(left, rgba(154,0,0,1) 0%, rgba(246,180,80,1) 99%, rgba(246,180,80,1) 100%);
  background: linear-gradient(to right, rgba(154,0,0,1) 0%, rgba(246,180,80,1) 99%, rgba(246,180,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a0000', endColorstr='#f6b450', GradientType=1 );
}

.icon {
  .community-icon {

  }

  .seach-icon {

  }

  .star-icon {

  }

  .home-icon {

  }
}
