.show-card-container {
  margin-bottom: 5px;

  .show-card {
    height: 16em;
    width: 100%;
    overflow: hidden;
    border-radius: 1px;
    border-color: rgb(221,221,221);
    border-style: solid;
    background-color: white;

    .show-fanart {
      width: 100%;
    }

    .show-info {
      position: relative;
      background-color: white;
      transition: 1s;
      min-height: 3em;
      top: 0px;
      text-align: center;

      .show-overview {
        padding: 0px 10px;
      }

      .show-title {
        padding: 7px;
      }
    }
  }

  .show-card:hover .show-info {
    top: -5em;
    transition: 1s;
    min-height: 5em;
  }
}
