.show-card-container {
  margin-bottom: 5px;

  .show-card {
    width: 100%;
    border-radius: 1px;
    border-color: rgb(221,221,221);
    border-style: solid;
    background-color: white;

    .show-poster {
      width: 100%;
    }

    .show-title {
      height: 4em;
      text-align: center;
      padding: 7px;
    }
  }
}
