$red: rgb(208, 2, 27);

.show-card-container {
  margin-bottom: 5px;

  .show-card {
    height: 16em;
    width: 100%;
    overflow: hidden;
    border-radius: 1px;
    border-color: rgb(221,221,221);
    border-style: solid;
    background-color: white;
    position: relative;

    .show-fanart {
      width: 100%;
    }

    .show-info {
      position: relative;
      background-color: white;
      transition: 1s;
      min-height: 3em;
      top: 0px;
      text-align: center;

      .show-overview {
        display: none;
        padding: 0px 10px;
      }

      .show-title {
        padding: 7px;
      }
    }
  }

  .show-card:hover .show-info {
    top: -5em;
    transition: 1s;
    min-height: 5em;

    .show-overview {
      display: block;
    }
  }
}

.binge-button-triangle {
  width: 0;
  height: 0;
  border-bottom: 60px solid transparent;
  border-right:60px solid $red;

  position: absolute;
  top: 0px;
  right: 0px;

  span {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 7px;
    left: 30px;
  }
}
